body {
	font-family: 'PT Serif', serif;
	background-color: white;
	color: black;
	margin: 0 auto;
	padding: 0;
	max-width: 800px;
}

header {
	padding: 0.5em;
	background-color: #eee;
	text-align: center;
	font-size: 1.2em;
	font-family: 'PT Mono', monospace;
	border-bottom: .2em solid #6a0f1f;
}

header a.logo {
	color: #000;
	text-decoration: none;
}

header a {
	color: #6a0f1f;
}

header#fixed_header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
}

footer {
	border-top: .2em solid #6a0f1f;
	border-bottom: .1em solid #6a0f1f;
	font-family: 'PT Mono', monospace;
	background-color: #eee;
	text-align: center;
}

div#content {
	padding: 2em 1.2em;
}

footer {
	padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Mono', monospace;
}

div.info {
}

figure {
	text-align: center;
}

figure div {
	display: block;
	font-style: italic;
}

p {
	text-align: justify;
}

pre {
	border-top: 1px solid #9a3f4f;
	border-bottom: 1px solid #9a3f4f;
}

pre code {
	display: block;
	padding: .5em;
}

code {
	background-color: #eee;
}

blockquote {
	font-style: italic;
}

figure pre code {
	text-align: left;
}

hr.clearfix {
	clear: both;
	visibility: hidden;
	height: 0;
}

img.avatar {
	margin-left: 1em;
	margin-bottom: 1em;
}

a {
	color: #9E181D;
	font-weight: bold;
}

a:visited {
	color: #580003;
}

#articles article:first-child {
	margin-top: 0em;
	padding-top: 0em;
	border-top: 0;
}

#articles article {
	margin-top: 10em;
	padding-top: 10em;
	border-top: 1px solid #eee;
}
